// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/*
 * Copyright (c) 2022 Microchip Technology Inc. and its subsidiaries.
 */

/dts-v1/;

#include "lan969x.dtsi"

/ {
	model = "lan969x appl ev23x71a (pcb8398)";
	aliases {
		serial0 = &usart0;
		i2c0   = &i2c1;
//		i2c100 = &i2c_sfp0;
//		i2c101 = &i2c_sfp1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

/*
	i2c_sfp0: i2c-sfp0 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 61 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 60 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
	};

	i2c_sfp1: i2c-sfp1 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 36 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 60 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
	};
*/
	switch_vtss: switch_vtss@e0000000 {
		compatible = "mchp,lan969x-switch-appl";
		reg = <0xe00c0000 0x0010000>,
		      <0xe2010000 0x1410000>;
		reg-names = "cpu", "dev";
		resets = <&reset 0>;
		reset-names = "switch";

		interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "xtr", "fdma";
	};

	switch_ifmux {
		compatible = "microchip,lan969x-ifmux";
		status = "okay";
	};
};

&flx0 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";

	usart0: serial@200 {
		pinctrl-0 = <&fc0_pins>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&flx1 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";

	i2c1: i2c@600 {
		pinctrl-0 = <&fc1_pins>;
		pinctrl-names = "default";
		i2c-analog-filter;
		i2c-digital-filter;
		i2c-digital-filter-width-ns = <35>;
		i2c-sda-hold-time-ns = <1500>;
		status = "okay";
	};
};

&flx2 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;
	status = "okay";

	spi2: spi@400 {
		pinctrl-0 = <&fc2_pins>;
		pinctrl-names = "default";
		cs-gpios = <&gpio 57 GPIO_ACTIVE_LOW>,
			   <&gpio 58 GPIO_ACTIVE_LOW>,
			   <&gpio 59 GPIO_ACTIVE_LOW>;
		num-cs = <3>;
		status = "okay";

		spi@0 {
			compatible = "adi,ad7689";
			reg = <0>;
			spi-max-frequency = <10000000>;
			spi-bits-per-word = <16>;
			status = "okay";
		};

		spi@1 {
			compatible = "adi,ad7689";
			reg = <1>;
			spi-max-frequency = <10000000>;
			spi-bits-per-word = <16>;
			status = "okay";
		};

		spi@2 {
			compatible = "adi,ad7689";
			reg = <2>;
			spi-max-frequency = <10000000>;
			spi-bits-per-word = <16>;
			status = "okay";
		};
	};
};

&flx3 {
	status = "disabled";
};

&gpio {
	emmc_sd_pins: emmc-sd-pins {
		/* eMMC_SD - CMD, CLK, D0, D1, D2, D3, D4, D5, D6, D7, RSTN */
		pins = "GPIO_14", "GPIO_15", "GPIO_16", "GPIO_17",
		       "GPIO_18", "GPIO_19", "GPIO_20", "GPIO_21",
		       "GPIO_22", "GPIO_23", "GPIO_24";
		function = "emmc_sd";
	};

	fc0_pins: fc0-pins {
		pins = "GPIO_3", "GPIO_4";
		function = "fc";
	};

	fc1_pins: fc1-pins {
		pins = "GPIO_28", "GPIO_29";
		function = "fc";
	};

	fc2_pins: fc2-pins {
		pins = "GPIO_54", "GPIO_55", "GPIO_56";
		function = "fc";
	};

	usb_ulpi_pins: usb-ulpi-pins {
		pins = "GPIO_30", "GPIO_31", "GPIO_32", "GPIO_33",
		"GPIO_34", "GPIO_35", "GPIO_36", "GPIO_37",
		"GPIO_38", "GPIO_39", "GPIO_40", "GPIO_41";
		function = "usb_ulpi";
	};

	usb_rst_pins: usb-rst-pins {
		pins = "GPIO_12";
		function = "usb2phy_rst";
	};

	usb_over_pins: usb-over-pins {
		pins = "GPIO_13";
		function = "usb_over_detect";
	};

	usb_power_pins: usb-power-pins {
		pins = "GPIO_1";
		function = "usb_power";
	};
};

&gpio {
	/delete-property/ interrupts;
	/delete-property/ interrupt-controller;
	/delete-property/ #interrupt-cells;
};

&sdmmc0 {
	pinctrl-0 = <&emmc_sd_pins>;
	pinctrl-names = "default";
	max-frequency = <100000000>;
	bus-width = <8>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	disable-wp;
	status = "okay";
};

&sgpio {
	status = "disabled";
};

&uio0 {
	interrupts = <GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI  8 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI  9 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 113 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 116 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 117 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 118 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 119 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 120 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "master", "ptp_sync", "ptp_rdy", "oam_vop",
			  "sgpio", "gpio", "sd10g_kr0", "sd10g_kr1",
			  "sd10g_kr2", "sd10g_kr3", "sd10g_kr4",
			  "sd10g_kr5", "sd10g_kr6", "sd10g_kr7",
			  "sd10g_kr8", "sd10g_kr9";
};

&usb0 {
	status = "disabled";
	pinctrl-0 = <&usb_ulpi_pins>, <&usb_rst_pins>, <&usb_over_pins>, <&usb_power_pins>;
	pinctrl-names = "default";
};
